name: model_viewer
description: "This is a sample project that expresses the motion of the Earth
  and the Moon using FlutterScene."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.1
  flutter: ^3.38.3

resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter_scene:
    git:
      url: https://github.com/yakitama5/flutter_scene.git
      ref: master
  flutter_scene_importer:
    git:
      url: https://github.com/yakitama5/flutter_scene.git
      ref: master
      path: importer
  hooks: ^1.0.0
  vector_math: ^2.2.0

dev_dependencies:
  altive_lints: ^2.0.0
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
flutter:
  uses-material-design: true
  assets:
    # hooksで作成したモデルを読み込むように指定
    - build/models/
